*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color--primary: #ff5722;
  --color--primary-light: #ff7a50;
  --color--secondary-light: #fff6f2;
  --color--secondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-headings: #000;
  --color-white: #fff;
  --color-body: #333333;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

.btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.4rem;
}

.btn--primary {
  background-color: var(--color--primary);
  color: var(--color-white);
}

.btn--secondary {
  background-color: var(--color--secondary-dark);
  color: var(--color-white);
}

.btn-block {
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn-block {
    font-size: 2rem;
  }
}

.badge {
  display: inline-block;
  border: 2px solid var(--color--primary);
  border-radius: 3.2rem;
  font-size: 1.2rem;
  padding: 0.5rem 1.3rem;
  background: #fff;
  text-transform: uppercase;
}

.badge--primary {
  background-color: var(--color-white);
  color: var(--color--primary);
}

.badge--secondary {
  background-color: var(--color--primary);
  color: var(--color--white);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

.list {
  list-style: none;
  font-size: 1.6rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

.list--tick .list__item::before {
  content: "";
  background: url(/assets/images/Tick-Square.svg);
  width: 20px;
  padding-right: 3rem;
  background-repeat: no-repeat;
}

.list--tick .list__item {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
}

.block-plan {
  display: grid;
  gap: 8rem 6rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  margin-top: 5rem;
}

.plan {
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px hsla(0, 4%, 95%, 1);
}

.card__header,
.card__body {
  padding: 3rem 2.5rem;
}

.card__header {
  background-color: var(--color--secondary-dark);
  color: var(--color-white);
}

.card--primary .card__header {
  background-color: var(--color--primary-light);
}

.plan__introduction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.plan__price {
  font-size: 3rem;
}

.plan__biling_cycle {
  font-size: 1.4rem;
}

.plan__description {
  margin-top: 1.5rem;
  display: block;
}

.plan .btn-block {
  margin-top: 10rem;
  font-size: 1.6rem;
}

.plan--popular {
  transform: scale(1.1);
}

.plan--popular:hover {
  transform: scale(1.15);
}

.plan:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
  .plan .btn-block {
    font-size: 1.8rem;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.feature {
  display: grid;
  gap: 0rem 10rem;
}

.feature__img {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.feature__img > img {
  height: auto;
  width: 70%;
}

.feature__text {
  margin-bottom: 2rem;
}

.feature .btn {
  padding: 1.2rem 3rem;
}

@media screen and (min-width: 1024px) {
  .feature {
    grid-template-columns: 1fr 1fr;
  }
  .feature__img {
    order: 2;
    margin-bottom: 0;
  }
  .feature__detail {
    order: 1;
    margin-bottom: 0;
  }
  .feature__img > img {
    height: auto;
    width: 100%;
  }
  .charge .feature__img {
    order: 1;
  }
}

.contact-us {
  display: grid;
}

.contact-us__map {
  display: none;
}

@media screen and (min-width: 1024px) {
  .contact-us {
    grid-template-areas: "address form" "map form" "icons form";
    grid-template-columns: 70fr 30fr;
  }
  .contact-us__form {
    grid-area: form;
  }
  .contact-us__map {
    grid-area: map;
    display: block;
  }
  .contact-us__icons {
    grid-area: address;
  }
  .contact-us__socail {
    grid-area: icons;
  }
}

.icon-container {
  width: 40px;
  height: 40px;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-us__icons .icon-holder {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.icon-holder .icon-holder__label {
  margin-left: 1.5rem;
  display: block;
  max-width: 250px;
}

@media screen and (min-width: 1024px) {
  .contact-us__icons {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact-us__icons .icon-holder {
    max-width: 150px;
    flex-direction: column;
  }
  .icon-holder .icon-holder__label {
    order: 2;
    font-size: 1.4rem;
    margin-left: 0;
    margin-top: 1.5rem;
  }
}

.contact-us__socail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .contact-us__socail {
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .contact-us__socail .icon-container {
    margin-left: 2rem;
  }
}

.contact-us__map img {
  width: 100%;
  height: auto;
}

.contact-us__form {
  margin-right: 0rem;
}

.form-wrapper {
  height: 100%;
  border: 1px solid #ccc;
  padding: 5.2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

.form-wrapper h3 {
  margin-bottom: 5.2rem;
  text-align: center;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

input,
textarea {
  outline: 0;
  border: 0;
}

textarea {
  resize: none;
}

::placeholder {
  font-size: 1.2rem;
  color: #333;
  font-family: "iranyekan";
}

.form-wrapper input,
.form-wrapper textarea {
  border-radius: 32px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 1.2rem 1.5rem;
  font-family: "iranyekan";
  margin-bottom: 1.5rem;
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
  border: 1px solid var(--color--primary);
}

.form-wrapper textarea {
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .contact-us__form {
    margin-right: 3rem;
  }
}

.main-footer {
  background-color: #000;
  color: #fff;
  min-height: 250px;
  display: flex;
  align-items: center;
}

.main-footer .footer {
  display: flex;
  flex-direction: column;
}

.footer__item {
  margin-bottom: 2.5rem;
}

.footer__item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--color-white);
  margin-bottom: 0.5rem;
  display: block;
}

.footer__item h6 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.footer__item.enemad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__enemad {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  max-width: 86px;
  margin-left: 0.5rem;
}

.footer__enemad img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .main-footer .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__item {
    margin-bottom: 0;
    margin-left: 2rem;
  }
}

.main-header {
  background-color: var(--color-navbar);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.nav.nav__expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
}

.nav__item {
  margin-right: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.nav__item > a {
  text-decoration: none;
  color: #444;
  display: block;
  padding: 0.5rem 0;
  border: 0;
}

.nav__item > a:hover {
  color: var(--color--primary);
}

.nav__item.cta a {
  font-size: 1.4rem;
  color: var(--color-white);
  padding: 1rem 3rem;
}

@media screen and (min-width: 1024px) {
  .nav {
    flex-direction: row;
    padding: 0 2rem;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    width: auto;
    opacity: 1;
    max-height: 100%;
  }
  .nav__toggler {
    display: none;
  }
  .nav__item {
    margin-left: 2rem;
    font-size: 1.6rem;
    border: 0;
  }
}

.nav__toggler {
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.nav.nav.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-9px, 6px);
  margin: 8px 0;
}

.nav.nav.nav__expanded .bar-two {
  opacity: 0;
  transform: translateX(-2px);
}

.nav.nav.nav__expanded .bar-three {
  transform: rotate(45deg) translate(-8px, -8px);
  margin: 8px 0;
}

.hero-section {
  width: 100%;
  height: 478px;
}

.hero-section img {
  width: 100%;
  height: auto;
}

.hero-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 478px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-btn {
  border-radius: 20px;
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.intro-btn h1 {
  color: #fff;
  font-size: 2.5rem;
}

.intro-btn h2 {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.intro-btn__passenger {
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 2rem;
  padding: 14px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.intro-btn__passenger p {
  font-size: 1.4rem;
}

@media screen and (min-width: 1024px) {
  .hero-wrapper {
    justify-content: flex-start;
    right: 0;
  }
  .intro-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .intro-btn {
    width: 530px;
    max-width: 530px;
    padding: 25px;
    border-radius: 20px;
  }
  .intro-btn h1 {
    font-size: 5rem;
  }
  .intro-btn h2 {
    font-size: 2.5rem;
  }
  .intro-btn__passenger p {
    font-size: 1.6rem;
  }
}

.services__tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
  padding: 0 5px 15px;
}

.services__tabs img {
  max-width: 85px;
}

.services__tabs a {
  text-decoration: none;
  color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__tabs a > p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.services__tabs .tab {
  opacity: 0.5;
  transition: all 0.2s;
}

.services__tabs .tab:hover {
  opacity: 1;
  cursor: pointer;
}

.services .feature__img {
  display: none;
}

@media screen and (min-width: 1024px) {
  .services__tabs {
  }
  .services__tabs a > p {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
  .services .feature__img {
    display: block;
  }
}

.services .feature__title {
  margin: 1.5rem 0;
}

.tab-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1024px) {
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: flex;
}

.tab.active {
  opacity: 1;
}
